# Appwrite Public Configuration
NEXT_PUBLIC_APPWRITE_ENDPOINT="https://<REGION>.cloud.appwrite.io/v1"
NEXT_PUBLIC_APPWRITE_PROJECT_ID="your_project_id_here"
NEXT_PUBLIC_APPWRITE_DATABASE_ID="website"

# Appwrite Server API Key
APPWRITE_API_KEY="your_api_key_here"

# Base URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
